body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
}

.image-container {
  position: relative;
  /* display: inline-block; */
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  font-weight: bold;
  pointer-events: none;
}

#textInput {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1em;
}

@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/RapidSTTrial-RegularWide-BF63b77a3ee3a32.ttf') format('truetype'),
    /* url('../fonts/font.woff') format('woff'),
    url('../fonts/font.ttf') format('truetype'); */
    /* Add additional font formats if necessary */
    /* Specify the correct path to the font files */
}

body {
  background: url(/kp-background.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'CustomFont', sans-serif;
}

.cover-picker {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: absolute;
  top: 5;
  left: 5
}