body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
}

.image-container {
  position: relative;
  /* display: inline-block; */
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  font-weight: bold;
  pointer-events: none;
}

#textInput {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1em;
}