@keyframes comeInOut {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.wrapper {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
}

.sparkle-wrapper {
  position: absolute;
  display: block;
}

.sparkle-svg {
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .sparkle-wrapper {
    animation: comeInOut 700ms forwards;
  }

  .sparkle-svg {
    animation: spin 1000ms linear;
  }
}

.child-wrapper {
  position: relative;
  z-index: 1;
  font-weight: bold;
}

.red-cover {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: #ED5027;
}